.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 4rem auto;
  background-color: white;
  border: 1px solid #ccc;

  height: 350px; /* Altura de la tarjeta */
  border-radius: 15px; /* Borde redondeado */
}

.cart__empty-message {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.cart__buy-link {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.cart__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.cart__total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}
