.cart-container {
  display: flex;
  flex-direction: row;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  margin: 1rem 0 0 1rem;
  margin-right: 1rem;
  min-height: 350px;
  border-radius: 5px;
}

.cart__empty-message {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.cart__buy-link {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.cart__item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.cart__total {
  font-size: 1.4rem;
  margin: 1rem 0;
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}

.item-cart {
  width: 100%;
  padding-bottom: 2em;
}

.cart__title {
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  z-index: 1;
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
}
