.item-cart {
  display: flex;
  align-items: flex-start;
  padding-top: 5rem;
}
.item-cart__image-container {
  width: 70px;
  height: 70px;
}

.item-cart__image {
  width: 70px; /* Agrega un ancho */
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: block;
}
.item-cart__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.item-cart__title {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.item-cart__quantity,
.item-cart__price {
  font-size: 1.2rem;
}

.item-cart__subtotal-container {
  margin-top: 1rem;
}

.item-cart__subtotal {
  font-size: 1.2rem;
}

.item-cart__button {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
