.products {
  display: flex;
  justify-content: center;
}

.products__box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.products__box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 40rem;
  height: 40rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.products__image {
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products__image img {
  height: 25rem;
}

.products__box:hover .products__image img {
  transform: scale(1.1);
}

.products__content {
  padding: 2rem;
  text-align: center;
  max-height: 15rem;
  overflow: hidden;
}

.products__content h3 {
  font-size: 2rem;
  color: #333;
}

.products__description {
  font-size: 1.2rem;
  color: #e84393;
  font-weight: bolder;
  padding-top: 1rem;
}

.products__name h3 {
  font-size: 2rem;
  color: #333;
}
.products__price span {
  font-size: 2.5rem;
  color: #e84393;
  font-weight: bolder;
  padding-top: 1rem;
}

.item-link-finish-purchase {
  font-size: 1.3rem;
  padding: 0.2rem;
  margin: 3rem;
  box-shadow: 0 0.5rem 1.5rem rgba(8, 8, 8, 0.1);
  border-radius: 0.5rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.1);
}
.item-link-finish-purchase:hover {
  background: rgb(215, 214, 214);
}

.item-in-cart-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  width: 90%;
  background: rgba(221, 221, 221, 0.9);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .products__box {
    width: 45%;
  }
}

@media (max-width: 400px) {
  .products__box {
    width: 90%;
  }
}
