.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1rem 0 0 1rem;
  margin-right: 1rem;
  /*  border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 2rem;
}

.checkout-form__description {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.checkout-form__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout-form__label {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.checkout-form__input {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.checkout-form__button {
  background-color: #e84393;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  width: 50%;
  margin: 0 auto;
}
