.products .box-container .box .image {
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.box-small {
  width: 200px;
}

.products .box-container .box .image img {
  min-height: 25rem;
  max-height: 30rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .item-description {
  font-size: 1.2rem;
  color: #e84393;
  font-weight: bolder;
  padding-top: 1rem;
}
.item-link-to-detail {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 3rem;
  box-shadow: 0 0.5rem 1.5rem rgba(8, 8, 8, 0.1);
  border-radius: 0.5rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.1);
}
.item-link-to-detail:hover {
  background: rgb(215, 214, 214);
}
@media (max-width: 600px) {
  .products .box-container .box {
    flex-basis: 45%;
  }
}

@media (max-width: 400px) {
  .products .box-container .box {
    flex-basis: 90%;
  }
}
