.navbar {
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 2rem 9%;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.6rem;
  padding: 0 1.5rem;
  color: #666;
}
ul {
  list-style: none;
}

.navbar .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

.logo span {
  color: pink;
}

.navbar a:hover {
  color: pink;
}
