/* .products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
 

.products .box-container .box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30rem;

  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.box {
  flex-basis: 200px;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.products .box-container .box .image {
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
  max-height: 11rem; 
}

/* .products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .item-description {
  font-size: 1.2rem;
  color: #e84393;
  font-weight: bolder;
  padding-top: 1rem;
}

.item-link-to-detail {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 3rem;
  box-shadow: 0 0.5rem 1.5rem rgba(8, 8, 8, 0.1);
  border-radius: 0.5rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.1);
}
 */
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.products .box-container .box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 40rem;
  height: 40rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.products .box-container .box .image {
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
  max-height: 15rem; /* Tamaño máximo para el contenedor del texto */
  overflow: hidden; /* Oculta el contenido que se sale del contenedor */
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .item-description {
  font-size: 1.2rem;
  color: #e84393;
  font-weight: bolder;
  padding-top: 1rem;
}

.item-link-to-detail {
  font-size: 1.2rem;
  text-align: center;

  box-shadow: 0 0.5rem 1.5rem rgba(8, 8, 8, 0.1);
  border-radius: 0.5rem;

  border: 0.3rem solid rgba(0, 0, 0, 0.1);
}
.item-link-to-detail:hover {
  background: rgb(215, 214, 214);
}

@media (max-width: 600px) {
  .box-container .box {
    width: 45%;
  }
}

@media (max-width: 400px) {
  .box-container .box {
    width: 90%;
  }
}
